server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        # ✅ Product Service
        - id: product-service
          uri: lb://product-service
          predicates:
            - Path=/product/**
          filters:
            - StripPrefix=1

        # ✅ Review Service
        - id: review-service
          uri: lb://review-service
          predicates:
            - Path=/review/**
          filters:
            - StripPrefix=1

        # ✅ User Service
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/user/**
          filters:
            - StripPrefix=1

        # ✅ Cart Service
        - id: cart-service
          uri: lb://cart-service
          predicates:
              - Path=/cart/**
          filters:
              - StripPrefix=1
        # ✅ Order
        - id: user-orders
          uri: lb://user-orders
          predicates:
              - Path=/order/**
          filters:
              - StripPrefix=1

        # ✅ Notification
        - id: notification-service
          uri: lb://notification-service
          predicates:
              - Path=/notification/**
          filters:
              - StripPrefix=1
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
